.footer {
  width: 100%;
  height: 200px;
  background: #21325e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 200px;
}

.socialMedia svg {
  color: white;
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.socialMedia svg:hover:first-child{
   color:#E1306C; 
}

.socialMedia svg:hover:nth-child(2){
   color: cyan; 
}

.socialMedia svg:hover:nth-child(3){
   color: #3b5998; 
}

.socialMedia svg:hover:nth-child(4){
   color: #0A66C2;
} 
.socialMedia svg:hover:nth-child(5){
   color: #fff;
} 
.footer p {
  color: white;
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 50px;
  }
}
